PAWSStarterKit/Data/PAWSStarterKit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Andy Black (SIL International) -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="adjp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="modifiers" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yesDegree"/>
			<xsd:enumeration value="yesManner"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreePos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mannerPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mannerEither" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="agree" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesAnimacy"/>
			<xsd:enumeration value="yesClass"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="adjpExample" type="xsd:string"/>
  <xsd:element name="advcl">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="advp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="temporalExample"/>
		<xsd:element ref="locativeExample"/>
		<xsd:element ref="mannerExample"/>
		<xsd:element ref="reasonExample"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degree" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreePos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeSet" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="almost"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="auxExample" type="xsd:string"/>
  <xsd:element name="cardinalCompoundExample" type="xsd:string"/>
  <xsd:element name="cardinalExample" type="xsd:string"/>
  <xsd:element name="comp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="compExample" type="xsd:string"/>
  <xsd:element name="compPPExample" type="xsd:string"/>
  <xsd:element name="contentExample" type="xsd:string"/>
  <xsd:element name="coord">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="copularExample" type="xsd:string"/>
  <xsd:element name="degreeExample" type="xsd:string"/>
  <xsd:element name="diExample" type="xsd:string"/>
  <xsd:element name="embContentExample" type="xsd:string"/>
  <xsd:element name="embYNExample" type="xsd:string"/>
  <xsd:element name="embeddedExample" type="xsd:string"/>
  <xsd:element name="example" type="xsd:string"/>
  <xsd:element name="focus">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="fontColor" type="xsd:string"/>
  <xsd:element name="fontName" type="xsd:string"/>
  <xsd:element name="fontSize" type="xsd:string"/>
  <xsd:element name="fullnp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="indefExample" type="xsd:string"/>
  <xsd:element name="indefNPExample" type="xsd:string"/>
  <xsd:element name="intransExample" type="xsd:string"/>
  <xsd:element name="ip">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="auxExample"/>
		<xsd:element ref="proDropExample"/>
		<xsd:element ref="diExample"/>
		<xsd:element ref="intransExample"/>
		<xsd:element ref="copularExample"/>
		<xsd:element ref="passiveExample"/>
		<xsd:element ref="ipContents1"/>
		<xsd:element ref="ipContents2"/>
		<xsd:element ref="ipContents3"/>
		<xsd:element ref="ipContents4"/>
		<xsd:element ref="ipContents5"/>
		<xsd:element ref="ipContents6"/>
		<xsd:element ref="ipContents7"/>
		<xsd:element ref="ipContents8"/>
		<xsd:element ref="ipContents9"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="proDrop4" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="noImpv"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="proDrop2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="noImpv"/>
			<xsd:enumeration value="notReally"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="aux" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="auxRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="auxMany" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="auxOrder" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="copular" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesNeither"/>
			<xsd:enumeration value="yesAux"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="diCat" use="default" value="dp">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="dp"/>
			<xsd:enumeration value="pp"/>
			<xsd:enumeration value="both"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="passive" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="passiveAgent" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="passiveAux" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="passiveAgentCat" use="default" value="dp">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="dp"/>
			<xsd:enumeration value="pp"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents1">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents2">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents3">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents4">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents5">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents6">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents7">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents8">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ipContents9">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="langAbbr" type="xsd:string"/>
  <xsd:element name="langName" type="xsd:string"/>
  <xsd:element name="language">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="langName"/>
		<xsd:element ref="langAbbr"/>
		<xsd:element ref="fontName"/>
		<xsd:element ref="fontSize"/>
		<xsd:element ref="fontColor"/>
		<xsd:element ref="textSFM" minOccurs="0"/>
	  </xsd:sequence>
	  <xsd:attribute name="bold" use="default" value="False">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="True"/>
			<xsd:enumeration value="False"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="italic" use="default" value="False">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="True"/>
			<xsd:enumeration value="False"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="under" use="default" value="False">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="True"/>
			<xsd:enumeration value="False"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="strike" use="default" value="False">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="True"/>
			<xsd:enumeration value="False"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="locExample" type="xsd:string"/>
  <xsd:element name="locativeExample" type="xsd:string"/>
  <xsd:element name="mannerExample" type="xsd:string"/>
  <xsd:element name="neg">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="np">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="embeddedExample"/>
		<xsd:element ref="ppExample"/>
		<xsd:element ref="relClExample"/>
		<xsd:element ref="qpExample"/>
		<xsd:element ref="adjpExample"/>
		<xsd:element ref="compExample"/>
		<xsd:element ref="compPPExample"/>
		<xsd:element ref="npContents1"/>
		<xsd:element ref="npContents2"/>
		<xsd:element ref="npContents3"/>
		<xsd:element ref="npContents4"/>
		<xsd:element ref="npContents5"/>
		<xsd:element ref="npContents6"/>
		<xsd:element ref="npContents7"/>
		<xsd:element ref="npContents8"/>
		<xsd:element ref="npContents9"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degree" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreePos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeInitialFinal" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeFinalInitial" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artCase" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artCaseType" use="default" value="nomAcc">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="nomAcc"/>
			<xsd:enumeration value="erg"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artAgr" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesNumber"/>
			<xsd:enumeration value="yesPerson"/>
			<xsd:enumeration value="yesAnimacy"/>
			<xsd:enumeration value="yesClass"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artAndDem" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="article"/>
			<xsd:enumeration value="demonstrative"/>
			<xsd:enumeration value="both"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtPos1" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtPos2" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtEither1" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtEither2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artArtRequiredBoth" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="noBefore"/>
			<xsd:enumeration value="noAfter"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemPos1" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemPos2" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemEither1" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemEither2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artDemRequiredBoth" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="noBefore"/>
			<xsd:enumeration value="noAfter"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothCooccur" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothRequired1" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothRequired2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesArt"/>
			<xsd:enumeration value="yesDem"/>
			<xsd:enumeration value="yesBoth"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothPos1" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothPos2" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothEither1" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothEither2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothEither3" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothRequiredBoth" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="noBefore"/>
			<xsd:enumeration value="noAfter"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="artBothBothPos" use="default" value="artNounDem">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="artNounDem"/>
			<xsd:enumeration value="demNounArt"/>
			<xsd:enumeration value="artDemNoun"/>
			<xsd:enumeration value="nounArtDem"/>
			<xsd:enumeration value="artDemEither"/>
			<xsd:enumeration value="demArtNoun"/>
			<xsd:enumeration value="nounDemArt"/>
			<xsd:enumeration value="demArtEither"/>
			<xsd:enumeration value="artDemNounDemArt"/>
			<xsd:enumeration value="demArtNounArtDem"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possMarked" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesAffix"/>
			<xsd:enumeration value="yesClitic"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possNounPos1" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possNounPos2" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possNounPos3" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possCliticWord" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possCliticRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possCliticPossPos" use="default" value="before">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possAgr" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="qpPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="qpEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="qpBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="qpBothAfter" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="qpBothBefore" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="adjpPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="adjpEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="nounCase" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="nounCaseType" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="nomAcc"/>
			<xsd:enumeration value="erg"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="compHead" use="default" value="right">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="left"/>
			<xsd:enumeration value="right"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="compHeadPPPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents1">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents2">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents3">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents4">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents5">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents6">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents7">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents8">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="npContents9">
	<xsd:complexType>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ordinalExample" type="xsd:string"/>
  <xsd:element name="partitiveExample" type="xsd:string"/>
  <xsd:element name="passiveExample" type="xsd:string"/>
  <xsd:element name="paws">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="language"/>
		<xsd:element ref="typology"/>
		<xsd:element ref="qp"/>
		<xsd:element ref="advp"/>
		<xsd:element ref="adjp"/>
		<xsd:element ref="np"/>
		<xsd:element ref="pron"/>
		<xsd:element ref="pp"/>
		<xsd:element ref="ip"/>
		<xsd:element ref="q"/>
		<xsd:element ref="focus"/>
		<xsd:element ref="neg"/>
		<xsd:element ref="comp"/>
		<xsd:element ref="advcl"/>
		<xsd:element ref="relcl"/>
		<xsd:element ref="fullnp"/>
		<xsd:element ref="coord"/>
	  </xsd:sequence>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="possExample" type="xsd:string"/>
  <xsd:element name="pp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="ppExample"/>
		<xsd:element ref="locExample"/>
		<xsd:element ref="sentExample"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degree" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="manner" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreePos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither2" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mannerPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeMannerPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="bothBefore"/>
			<xsd:enumeration value="bothAfter"/>
			<xsd:enumeration value="degreeManner"/>
			<xsd:enumeration value="mannerDegree"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="alone" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="sentComp" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="prePost" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="pre"/>
			<xsd:enumeration value="post"/>
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="ppExample" type="xsd:string"/>
  <xsd:element name="proDropExample" type="xsd:string"/>
  <xsd:element name="pron">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="ppExample"/>
		<xsd:element ref="relClExample"/>
		<xsd:element ref="reflExample"/>
		<xsd:element ref="recipExample"/>
		<xsd:element ref="possExample"/>
		<xsd:element ref="indefNPExample"/>
		<xsd:element ref="indefExample"/>
		<xsd:element ref="standAloneNPExample"/>
		<xsd:element ref="partitiveExample"/>
		<xsd:element ref="pronRelClExample"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="pnCat" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="pnCase" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesAffix"/>
			<xsd:enumeration value="yesArt"/>
			<xsd:enumeration value="yesNone"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="pronCase" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="pronCaseType" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="nomAcc"/>
			<xsd:enumeration value="erg"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="refl" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="reflAffix" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="noWord"/>
			<xsd:enumeration value="noNoun"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="recip" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="recipAffix" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="noWord"/>
			<xsd:enumeration value="noNoun"/>
			<xsd:enumeration value="noQP"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="poss" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="possAffix" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="indef" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="partitive" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="pronRelClExample" type="xsd:string"/>
  <xsd:element name="q">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="embYNExample"/>
		<xsd:element ref="contentExample"/>
		<xsd:element ref="embContentExample"/>
		<xsd:element ref="whWords"/>
		<xsd:element ref="whWordGlosses"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYN" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="noAux"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNWord" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNBothInitialFinal" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNBothFinalInitial" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainYNAuxPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYN" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="noAux"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNWord" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNBothInitialFinal" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNBothFinalInitial" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embYNAuxPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="contFront" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainCont" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yesSame"/>
			<xsd:enumeration value="yesDiff"/>
			<xsd:enumeration value="noAux"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContWord" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContBefore" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="yesSome"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContBeforeAux" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContSame" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContBothInitialFinal" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContBothFinalInitial" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="mainContAux" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embCont" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yesSameYN"/>
			<xsd:enumeration value="yesSameCont"/>
			<xsd:enumeration value="yesDiff"/>
			<xsd:enumeration value="noAux"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContWord" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContPosAsEmbYNPos" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContEither" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContBoth" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yesBoth"/>
			<xsd:enumeration value="yesInitial"/>
			<xsd:enumeration value="yesFinal"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContBothInitialFinal" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContBothFinalInitial" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContRequired" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="embContAux" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="no"/>
			<xsd:enumeration value="yes"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="qp">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
		<xsd:element ref="degreeExample" minOccurs="0"/>
		<xsd:element ref="cardinalExample"/>
		<xsd:element ref="cardinalCompoundExample" minOccurs="0"/>
		<xsd:element ref="ordinalExample"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degree" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreePos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="degreeEither" use="default" value="yes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="ordinalFormation" use="default" value="affix">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="affix"/>
			<xsd:enumeration value="independent"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="ordinalPos" use="default" value="unknown">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="before"/>
			<xsd:enumeration value="after"/>
			<xsd:enumeration value="either"/>
			<xsd:enumeration value="unknown"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="qpExample" type="xsd:string"/>
  <xsd:element name="reasonExample" type="xsd:string"/>
  <xsd:element name="recipExample" type="xsd:string"/>
  <xsd:element name="reflExample" type="xsd:string"/>
  <xsd:element name="relClExample" type="xsd:string"/>
  <xsd:element name="relcl">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="sentExample" type="xsd:string"/>
  <xsd:element name="standAloneNPExample" type="xsd:string"/>
  <xsd:element name="temporalExample" type="xsd:string"/>
  <xsd:element name="textSFM" type="xsd:string"/>
  <xsd:element name="typology">
	<xsd:complexType>
	  <xsd:sequence>
		<xsd:element ref="example" minOccurs="0"/>
	  </xsd:sequence>
	  <xsd:attribute name="checkedOff" use="default" value="no">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="yes"/>
			<xsd:enumeration value="no"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	  <xsd:attribute name="wordOrder" use="default" value="SVO">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="SVO"/>
			<xsd:enumeration value="SOV"/>
			<xsd:enumeration value="VSO"/>
			<xsd:enumeration value="VOS"/>
			<xsd:enumeration value="OVS"/>
			<xsd:enumeration value="OSV"/>
		  </xsd:restriction>
		</xsd:simpleType>
	  </xsd:attribute>
	</xsd:complexType>
  </xsd:element>
  <xsd:element name="whWordGlosses" type="xsd:string"/>
  <xsd:element name="whWords" type="xsd:string"/>
</xsd:schema>
