PAWS/Data/MasterGrammar.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Andy Black (SIL International) -->
<!--DTD generated by XML Spy v4.3 U (http://www.xmlspy.com)-->
<!ELEMENT and EMPTY>
<!ELEMENT catMapper (#PCDATA)>
<!ATTLIST catMapper
	show IDREF #REQUIRED
>
<!ELEMENT generalizedTemplates (#PCDATA)>
<!ELEMENT masterGrammar (rule | generalizedTemplates | specializedTemplates | catMapper | showWhen)*>
<!ELEMENT or EMPTY>
<!ELEMENT rule (#PCDATA)>
<!ATTLIST rule
	show IDREF #IMPLIED
>
<!ELEMENT showWhen ((whenValue | useShowWhen), ((or | and), (whenValue | useShowWhen))*)>
<!ATTLIST showWhen
	id ID #REQUIRED
>
<!ELEMENT specializedTemplates (#PCDATA)>
<!ATTLIST specializedTemplates
	show IDREF #REQUIRED
>
<!ELEMENT whenValue EMPTY>
<!ATTLIST whenValue
	element CDATA #REQUIRED
	attr CDATA #IMPLIED
	value CDATA #REQUIRED
	negateValue (yes | no) "no"
>
<!ELEMENT useShowWhen EMPTY>
<!ATTLIST useShowWhen
	show IDREF #REQUIRED
>
